{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="default">
	<div class="container-fluid">
		<div class="container text-center">
		   <h1>Impact</h1>
		</div><!--end of container-->
	</div><!--end of container fluid-->
</section> 

<div class="impact">
    <div class="container text-center">
       	<div class="row">
         	<h2>What We Do For Our Clients: Our Processes</h2>
         	<img src="static/img/pic.png" alt=""/>
        </div>
 	</div>
</div>

<div class="container impact">
  	<div class="row">
		<div class="col-xs-12">
    		<h3 style="color: #2ccb28" >Social</h3>
    		<p>In all the local regions AgriAsset  has created cultivation projects, we’ve gone on to create jobs and support the families of farmers. Over the last few years of operation, we’ve had over 35 farmers and 6 farm managers join our pay rolls. We’ve created more than 100 local jobs through our day-to- day farm activities including overseeing, packaging and transportation. As a direct consequence, more than 500 family members of these farmers and farm hands have been impacted positively. We have ensured medical facilities for our rural employees as well as regular educational programs on hygiene. As a result of high yields of fruits and vegetables, our farm hands are able to share a portion of it. While this not only leads to better commitment and belongingness, but also helps our people in achieving better income, nutrition and health.
            <br />Optimisation is a key pursuit for us here at AgriAsset and we’ve been able to achieve some of it even with the way we’ve created gainful employment for people in the villages. Whereas earlier, agriculture graduates and diploma holders would have to pack their bags to the city, AgriAsset is creating a work environment that allows them to stay rooted. In addition to the difference we’ve made to the lives of the local labour force, we have also adopted an old age home.</p>

    		<h3 style="color: #2ccb28" >Environmental</h3>
    		<p>The key to sustenance of any venture is economic growth. At AgriAsset, we combine passion with economics, every single day. Our land owners keep wanting to increase their portfolio for the green ROI they get. Based on the land owners’ vision we plan the type of cropping.
            <br />Our methods of rain water harvesting and carbon sequestration through use of city compost has helped the long term sustenance of our farms. So, apart from higher returns, we’ve been able to create a positive environmental impact. The economic viability and demand for our farm land management projects have been instrumental in creating multiple local jobs, shifting urban wealth to rural areas and providing regular monthly jobs to farm hands.</p>

    		<h3 style="color: #2ccb28" >Economic </h3>
    		<p>The key to sustenance of any venture is economic growth. At AgriAsset, we combine passion with economics, every single day. Our land owners keep wanting to increase their portfolio for the green ROI they get. Based on the land owners’ vision we plan the type of cropping.<br />Our methods of rain water harvesting and carbon sequestration through use of city compost has helped the long term sustenance of our farms. So, apart from higher returns, we’ve been able to create a positive environmental impact. The economic viability and demand for our farm land management projects have been instrumental in creating multiple local jobs, shifting urban wealth to rural areas and providing regular monthly jobs to farm hands.<br />The AgriAsset approach is one of careful consideration, creating a stable ground for commercial farmlands to flourish. An integrated five-step process ensures satisfaction for the end customer as well as the people who work for us</p>
		</div>
    </div>
</div>
<div class="container impact">
	<div class="row">
	    <div class="col-xs-12">
	        <h2>Environmental Impact</h2>
	        <h3 style="color: #2ccb28" >Water</h3>
	        <p>70% of our water supply goes to agriculture. Current events, future predictions, and common sense tell us we cannot continue on this path. Agri asset uses 90% less water than field farming and after three years the eco system what we build take care of itself , no water & human intervention is required, we uses fertigation techniques,  advanced water harvesting  & water management techniques Imagine the impact if even 10% of our produce was grown this way.</p>

	        <h3 style="color: #2ccb28" >Pesticides</h3>
	        <p>In the field, overuse of pesticides has decreased the beneficial microorganisms in the soil and allowed bad ones to proliferate. Our soil is no longer healthy enough to filter out pesticides and render them inert, leading to toxicity and runoff. Runoff leads to algal blooms and oceanic dead zones. By growing it in  natural way with out tilling, mulching, by using right mix of  nitrogen fixation & bio diversity mix we  can avoid these issues.</p>

	        <h3 style="color: #2ccb28" >Land</h3>
	        <p>25% of the world’s land is now highly degraded, with soil erosion, water degradation and biodiversity loss. Arable land is a precious resource and as soil health depletes, so does the nutrition of our food. Agri asset uses less than 13.5% of the land required by conventional growing. That means we are over 7 times more productive per square foot vs. traditional agriculture, while also ensuring that our plants get all of the macro and micro nutrients they need all year round. By creating SELF SUSTAINING & SELF SUFFICIENT eco system, we are taking more co2, giving more oxygem..Helping the entire surroundings</p>
	    </div>
	</div>
</div>

{% endblock%}