{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="default">
  	<div class="container-fluid">
	  	<div class="container text-center">
	    	<h1>Our Method</h1>
	  	</div><!--end of container-->
  	</div><!--end of container fluid-->
</section>

<div class="our_method">
        <div class="container">
          <p>AgriAsset heralds the coming-of-age of agricultural land management. While primarily being a farm asset management company, we’re driven by our love for Nature. This makes us approach agriculture in a humane, scientific way, involving methods like zero residue farming, permaculture, sustainable farming and precision farming. Regularly researched and innovated upon, these methods work together to give stakeholders better produce while nurturing the land to its optimum health. We manifest our continuing commitment to keep the sacredness of biodiversity intact through these methods.</p>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3>Bio-diverse Farming</h3>
                    <img src="{% static "img/our_method/our_method_1.png" %}" alt=""/>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>AgriAsset looks to the forests to understand how trees can grow together without impeding each other. The fact that forests don’t thrive on harmful chemicals and pesticides tells us that through careful research and implementation, we can replicate a similar environment to a certain extent. At AgriAsset, we go back to the way Nature nurtures for its flora and fauna and adopt relevant principles for our commercial farming efforts. This allows for staggered returns and reduces overall cost otherwise incurred from the use of pesticides.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3>Zero Residue Farming</h3>
                    <img src="{% static "img/our_method/our_method_2.png" %}" alt=""/>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>So much has been discovered and said about the unsupervised use of synthetic pesticides in modern farming, that we here at Pure Agronomics wanted to do things differently. We turned to zero residue farming and adopted its principles of using biofertilizers and bio pesticides. Some of these are manufactured at the farm gate using naturally available resources in combination with bio cultures.. More than 90% of the products we use for soil health is organic and ensure micro-nutrients found in the earth cannot just survive but thrive. Wherever we do need to use chemicals, we choose them carefully to ensure the post spray residue period is short and utmost care is taken to ensure a zero-residue output.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3>Sustainable Farming</h3>
                    <img src="{% static "img/our_method/our_method_3.png" %}" alt=""/>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>At AgriAsset, we come to the table with an approach of sustainable returns. No matter how big or small the piece of land, we deem it extremely important that it provides better yields – without hurting its existing ecosystem. By bringing sustainable farming principles into commercial farming, we enrich every bit of soil we take on as part of our projects. We are also directing a part of our efforts in experimenting with sustainable additions like coir sheets, live mulching, intercropping, integrated pest management, rain water harvesting and conservation and inclusion of a diverse variety of herbal plants.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3>Precision Farming </h3>
                    <img src="{% static "img/our_method/our_method_4.png" %}" alt=""/>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>In a bid to match supply with demand and create only as much as will be consumed, we at AgriAsset  understand how vital the principles of precision farming are. From automation to centralised irrigation systems to final production we combine a variety of methods to ensure optimal returns. We automate our irrigation systems based on moisture, humidity and temperature sensor. By putting forward contracts with customers and planning production and post-harvest management, we generate minimum wastage and maximum realization.</p>
                </div>
            </div>
    </div>
</div>

{% endblock%}