{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="default">
  	<div class="container-fluid">
	  	<div class="container text-center">
	    	<h1>Our Approach</h1>
	  	</div><!--end of container-->
  	</div><!--end of container fluid-->
</section> 

<div class="our_approach">
    <div class="container">
       <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="{% static "img/our_approach/our_approach_1.jpg" %}" alt=""/>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Right Crop</h3>
                <p>In a market flooded with crops of varied quality, we take it upon ourselves to identify the right crop. Thorough technical knowledge allows us to cultivate crops that provide great commercial returns without being labour-intensive. Agile understanding of the market helps us plan for a better crop, so that we ensure zero wastage.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Right Crop</h3>
                <p>In a market flooded with crops of varied quality, we take it upon ourselves to identify the right crop. Thorough technical knowledge allows us to cultivate crops that provide great commercial returns without being labour-intensive. Agile understanding of the market helps us plan for a better crop, so that we ensure zero wastage.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                      <img src="{% static "img/our_approach/our_approach_2.jpg" %}" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="{% static "img/our_approach/our_approach_3.jpg" %}" alt=""/>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
               <h3>Right Technique</h3>
                <p>Continuing to study our farm lands have brought us to the repeated conclusion that adopting the right techniques is quintessential to crop success. Reason why we’ve embraced tested techniques like natural farming, moisture and water management, soil health management and integrated pest management on our farm lands. Combining that with the right mix of automation and labour has helped us ensure cost effective production as well.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Increased Potential, Reduced Uncertainty</h3>
                <p>Agri Assets brings ample field experience to the table, having access to multiple farms across India and managing them. Our understanding of scientific approaches that work puts us in a position to optimise crop production. Alongside, Hosachiguru also comes with extensive planning expertise, predicting demand and using precise data points to initiate production. Well thought-out buying contracts attract buyers across both domestic and international markets.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="{% static "img/our_approach/our_approach_4.jpg" %}" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="{% static "img/our_approach/our_approach_5.jpg" %}" alt=""/>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>Better Traceability</h3>
                      <p>We live in a world of burgeoning demand and relentless supply. What otherwise would have been a happy scenario is layered with the distrust of customers. Because people simply don’t know anymore where the produce is coming from! At Pure Agronomics, we work towards tracking every bit of the process, right from production to packaging to transportation. Our intention is to be completely transparent about the source, the quality of produce and the time taken for it to reach the market.</p>
            </div>
        </div>
    </div>
</div>

{% endblock%}