{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="works">
	<div class="container-fluid">
	  	<div class="container text-center">
	    	<h1 class="heading-1">How its Works </h1>
	    	<iframe src="https://www.youtube.com/embed/tOwjEOt1zYU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	  	</div><!--end of container-->
	</div><!--end of container fluid-->
</section>  

<!--  HOw to work page Carousels -->
<section class="how-it-works">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12 text-center">
				<div class="h-image"><img src="{% static "img/h-1.png" %}"></div><!--end of h image-->
					<div class="h-text">
						<h3>Browse</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div><!--end of h text-->
				</div><!--end of col-md-3-->
				<div class="col-md-3 col-sm-3 col-xs-12 text-center">
 					<div class="h-image"><img src="{% static "img/h-2.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>Select</h3>
  						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  					</div><!--end of h text-->
  				</div><!--end of col-md-3-->
  				<div class="col-md-3 col-sm-3 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/h-3.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>Earn</h3>
  						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  					</div><!--end of h text-->
  				</div><!--end of col-md-3-->
  				<div class="col-md-3 col-sm-3 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/h-4.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>Sell</h3>
  						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  					</div><!--end of h text-->
  				</div><!--end of col-md-3-->
  			</div><!--end of row-->
  		</div><!--end of container-->
  	</div><!--end of container fluid-->
</section>
<!-- End-How to work page Carousels -->

<!-- Fractional Ownership page Carousels -->
<section class="ownership">
	<div class="container-fluid">
	  	<div class="container">
		  	<div class="row">
		  		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
		  			<h3>What is Fractional Ownership?</h3>
		  		</div><!--end of col-md-12-->
		  	</div><!--end of row-->
		  	<div class="row">
  				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
  					<span style="position: absolute;margin-left: 75px;margin-top: 10px;"><h4>Since mankind first began cultivating crops.</h4></span>
		  			<img src="{% static "img/pic-3.png" %}" class="img-responsive">
		  		</div><!--end of col-md-12-->
		  	</div><!--end of row-->
		  	<div class="row">
  				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
  					<a href="#" class="btn btn-lg green">View More</a>
  				</div><!--end of col-md-12-->
  			</div><!--end of row-->
		</div>
	</div>
</section>
<!-- End-Fractional Ownership page Carousels -->

<section class="how-it-works">
  	<div class="container-fluid">
  		<div class="container">
    		<div class="row">
        		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
            		<h2>What will i earn</h2>
        		</div><!--end of col-md-12-->
    		</div><!--end of row-->
			<div class="row">
  				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/earn-rent.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>Rent</h3>
  						<p>Receive monthly rents for your fraction straight into your account.</p>
  					</div><!--end of h text-->
  				</div><!--end of col-md-3-->
				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/earn-capital.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>CAPITAL APPRECIATION</h3>
  						<p>Profit from increase in property value on sale.</p>
  					</div><!--end of h text-->
  				</div><!--end of col-md-3-->
 
  			</div><!--end of row-->
  		</div><!--end of container-->
  	</div><!--end of container fluid-->
</section>

<section class="ownership">
  	<div class="container-fluid">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
  					<h2>HOW DO I EXIT?</h2>
  				</div><!--end of col-md-12-->
  			</div><!--end of row-->
			<div class="row">
  				<div class="col-md-4 col-sm-4 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/exit-hold.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>HOLD TILL EXIT</h3>
  						<p>Realise your gains when we sell the property between 3 and 5 years.</p>
  					</div><!--end of h text-->
  				</div><!--end of col-md-3-->

  				<div class="col-md-4 col-sm-4 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/exit-resale-new.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>SELL ON OUR RE-SALE PLATFORM</h3>
  						<p>Sell your share partly or fully at anytime on our resale platform.</p>
  						</div><!--end of h text-->
  				</div><!--end of col-md-3-->
				<div class="col-md-4 col-sm-4 col-xs-12 text-center">
  					<div class="h-image"><img src="{% static "img/exit-offline.png" %}"></div><!--end of h image-->
  					<div class="h-text">
  						<h3>SELL OFFLINE TO ANYONE</h3>
  						<p>Sell your share offline to friends, family, colleagues.</p>
 					 </div><!--end of h text-->
  				</div><!--end of col-md-3-->
  
  			</div><!--end of container-->
  		</div><!--end of container fluid-->
  	</div>
</section>

<section class="how-it">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <h2>HOW ARE PROPERTIES REGISTERED?</h2>
          </div><!--end of col-md-12-->
        </div><!--end of row-->
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 text-center">
            <div class="h-image"><img src="{% static "img/prop-resg-residential.png" %}"></div><!--end of h image-->
            <div class="h-text">
              <h3>RESIDENTIAL</h3>
              <p>Properties are registered in the name of a Limited Liability Partnership.<br />Each investor becomes a partner in the LLP.</p>
            </div><!--end of h text-->
          </div><!--end of col-md-3-->
        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
          <div class="h-image"><img src="{% static "img/prop-resg-commercial-new.png" %}"></div><!--end of h image-->
          <div class="h-text">
            <h3>COMMERCIAL</h3>
            <p>Properties are directly registered in the individuals names.<br />Investor’s names appear on the Sale Deed.</p>
          </div><!--end of h text-->
        </div><!--end of col-md-3-->
      </div><!--end of row-->
    </div><!--end of container-->
  </div><!--end of container fluid-->
</section>

{% endblock %}