{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="default">
	<div class="container-fluid">
  		<div class="container text-center">
    		<h1> Our Technology</h1>
  		</div><!--end of container-->
  	</div><!--end of container fluid-->
</section> 

<div class="our_tech">   
    <div class="container">
        <div class="row">
          	 <div class="container">
             	<p>AgriAsset is the commercial leader in indoor farming. We grow without sun or soil in a fully-controlled indoor environment. We have optimized our patented aeroponic growing system for faster harvest cycles, predictable results, superior food safety and less environmental impact.</p>
            </div>
            <img src="{% static "img/tech.jpg" %}" alt=""/>
        </div>
    </div>
</div>

<!--start of tech-->
<section id="tech">
   <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tech_header text-center">
                    <h2>latest Technology</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <!--End of row-->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 zero_mp">
                        <div class="tech_item">
                            <div class="tech_img">
                                <img src="{% static "img/tree_cut_1.jpg" %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 zero_mp">
                        <div class="tech_item">
                            <div class="tech_text text-center">
                                <a href=""><h4>One Tree Thousand Hope</h4></a>
                                <h6>15-16 May</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adip scing elit. Lorem ipsum dolor sit amet,consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="" class="tech_btn">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of row-->
               	<div class="row">
                    <div class="col-md-6 zero_mp">
                        <div class="tech_item">
                            <div class="tech_text text-center">
                                <a href=""><h4>One Tree Thousand Hope</h4></a>
                                <h6>15-16 May</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adip scing elit. Lorem ipsum dolor sit amet,consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <a href="" class="tech_btn">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 zero_mp">
                        <div class="tech_item">
                            <div class="tech_img">
                                <img src="{% static "img/tree_cut_2.jpg" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of col-md-8-->
            <div class="col-md-4">
                <div class="tech_news">
                    <div class="tech_single_item fix">
                        <div class="tech_news_img floatleft">
                            <img src="{% static "img/tree_cut_3.jpg" %}" alt="">
                        </div>
                        <div class="tech_news_text">
                            <a href="#"><h4>Let’s plant 200 tree each...</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="tech_news">
                    <div class="tech_single_item fix">
                        <div class="tech_news_img floatleft">
                            <img src="{% static "img/tree_cut_4.jpg" %}" alt="">
                        </div>
                        <div class="tech_news_text">
                            <a href="#"><h4>Keep your house envirome..</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="tech_news">
                    <div class="tech_single_item fix">
                        <div class="tech_news_img floatleft">
                            <img src="{% static "img/tree_cut_3.jpg" %}" alt="">
                        </div>
                        <div class="tech_news_text">
                            <a href="#"><h4>Urgent Clothe Needed Needed</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="tech_news">
                    <div class="tech_single_item fix">
                        <div class="tech_news_img floatleft">
                            <img src="{% static "img/tree_cut_4.jpg" %}" alt="">
                        </div>
                        <div class="tech_news_text">
                            <a href="#"><h4>One Tree Thousand Hope</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, veniam.</p>
                        </div>
                    </div>
                </div>
                <div class="tech_news">
                    <div class="tech_single_item fix">
                        <div class="tech_news_img floatleft">
                            <img src="{% static "img/tree_cut_3.jpg" %}" alt="">
                        </div>
                        <div class="tech_news_text">
                            <a href="#"><h4>One Tree Thousand Hope</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of col-md-4-->
        </div>
        <!--End of row-->
    </div>
    <!--End of container-->
</section>
<!--end of tech-->
{% endblock %}