{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="default">
	<div class="container-fluid">
  		<div class="container text-center">
    		<h1>About Us</h1>
  		</div><!--end of container-->
  	</div><!--end of container fluid-->
</section>

<section class="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img src="{% static "img/agriculture-cereals-cornfield-1589.jpg" %}" alt="" class="img-responsive" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Agri Asset is on a mission to transform agriculture by  designing and  operating environmentally responsible farms throughout the INDIA  to enable local production at scale and nourish our communities with safe, nutritious, and delicious food with out using Pesticides,Fertilizers & GMO Seeds.
                    we aren’t just looking at Agriculture, We are looking at soil, environment , return on investment .
                    <br />
                	We have been  setting new benchmark & standards  for   agriculture since 2013. We disrupt traditional supply chains by building farms on major distribution routes and near population centers.. We set a new standard for traceability by managing our produce from seed to package. And we do it all while using 90% less water than field farmed-food and with yields 7 times higher per square foot annually.
            		Our passion is  to cultivate great tasting natural food and sharing our harvest with the world.. There has been tremendous demand for our organically grown, delicious, produce.There has never been a greater need for safe, dependable, nutritious food, and we are scaling quickly to transform agriculture around the world.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>About Company</h3>
                <p>At the heart of ORGANIC INDIA is our commitment to be a living embodiment of love and consciousness in action. We work with thousands of small family farmers in India to cultivate tens of thousands of acres of sustainable organic farmland.<br />
                    All ORGANIC INDIA products support health and True Wellness and are made with loving care. Each product is one link in a chain of connectedness between Mother Nature, our farmers and you. By choosing ORGANIC INDIA you are completing this chain, actively participating in our mission to create a sustainable environment of True Wellness, providing training and a life of dignity to our farmers, and bringing health, happiness and True Wellness to you.<br />
                    All of our farmers and tribal wildcrafters are educated in organic and biodynamic agricultural practices. We pay all the fees associated with acquiring the necessary organic certifications for them, and then we purchase the harvested crops and herbs at a premium market price. The farmers also rotate between growing crops on their land for ORGANIC INDIA with food crops for themselves. This means farming families are supported by a sustainable income, while at the same time improving and preserving their own health and natural environment.<br />
                    ORGANIC INDIA is committed to being a trustworthy and innovative global leader by providing genuine True Wellness products. Our advanced processing methods and dehydration technologies ensure that our herbs retain their maximum level of potency for the highest quality, most effective, pure and natural True Wellness products available in the market today. Our success serves as living proof that shared abundance can be created with an uncompromising commitment to environmental and social responsibility. In living this vision, we are inspired to introduce a new standard for new paradigm companies:<br /> 
                    ORGANIC INDIA is proud to announce its partnership with FabIndia, India's largest private retail platform for craft-based products. FabIndia sources from rural artisans across the country to bring a range of lifestyle products to customers around the world. Besides a distinctive range of clothing and products for your home, FabIndia offers you choices for a complete organic lifestyle with its range of organic and natural foods.<br /></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}