{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="default">
  	<div class="container-fluid">
  		<div class="container text-center">
    		<h1>Vision & Mision</h1>
  		</div><!--end of container-->
  	</div><!--end of container fluid-->
</section>  

<section class="aimVision">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                <div class="aim">
                    <i class="fa fa-eye"></i>
                    <h1> OUR VISION </h1>
                    <p> To be a vehicle of consciousness in the global market by creating a holistic, sustainable business model that inspires, promotes and supports true wellness. At the core of this vision is respect for all beings and for Mother Nature. </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                <div class="vision">
                    <i class="fa fa-bullseye"> </i>
                    <h1> OUR MISION </h1>
                    <p> To be an inspiring, trustworthy and innovative global leader in providing genuine organic products and solutions for healthy conscious living. </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}